@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* line 4, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
* {
  box-sizing: border-box;
  padding: 0;
}

/* line 10, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #5c707f;
  margin: 0;
}

/* line 18, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
}

/* line 26, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: url("images/bg-pattern-intro.svg"), linear-gradient(to bottom right, #ff8f70, #ff3d54);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 0 100px;
  padding: 0rem 1rem 4rem 1rem;
  box-sizing: border-box;
}

@media only screen and (min-width: 928px) {
  /* line 26, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  header {
    height: 45vh;
  }
}

@media only screen and (min-width: 768px) {
  /* line 26, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  header {
    height: 45vh;
  }
}

/* line 44, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

/* line 54, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menus {
  text-align: center;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 7rem;
  padding: 2rem 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 15px 20px 4px rgba(36, 36, 36, 0.274);
}

/* line 67, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menus.shown {
  display: flex;
}

/* line 72, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.menu-button {
  cursor: pointer;
  margin-right: 1rem;
}

/* line 75, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.menu-button .cross {
  display: none;
}

/* line 79, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.menu-button.shown .burger {
  display: none;
}

/* line 82, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.menu-button.shown .cross {
  display: block;
}

/* line 89, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu {
  padding: 1rem 0;
  font-size: 20px;
  width: 100%;
}

/* line 93, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .menu-header {
  display: relative;
  padding: 1rem;
}

/* line 96, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .menu-header:after {
  position: absolute;
  display: inline-block;
  margin-left: .5rem;
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  color: #ff525d;
  font-weight: 900;
  content: '\f107';
}

/* line 107, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .nav-menu-dropdown {
  display: none;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #efeff1;
  width: 100%;
  color: #5c707f;
  border-radius: 8px;
  list-style: none;
}

/* line 116, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .nav-menu-dropdown li {
  padding: .8rem;
}

/* line 120, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu a {
  text-decoration: none;
  color: inherit;
}

/* line 124, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .menu-header.shown {
  color: #5c707f;
}

/* line 126, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .menu-header.shown::after {
  content: "\f106";
}

/* line 130, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-menu .menu-header.shown + .nav-menu-dropdown {
  display: block;
}

/* line 135, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-account-actions {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

/* line 141, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-account-actions hr {
  width: 90%;
  color: #efeff1;
  margin-left: auto;
  margin-right: auto;
}

/* line 147, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-account-actions .account-action-buttons {
  margin-top: 1rem;
  list-style: none;
}

/* line 150, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.nav-account-actions .account-action-buttons li {
  padding: 1.5rem;
}

/* line 156, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.header-content {
  color: white;
  text-align: center;
  Display: flex;
  flex-direction: column;
  height: 60%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Overpass";
  font-weight: 300;
  font-size: 14pt;
}

/* line 169, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.header-content h1 {
  color: white;
  font-size: 31pt;
}

/* line 175, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.horizontal-btn-container {
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* line 184, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-standard, .btn-signup, .btn-white {
  color: inherit;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

/* line 195, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-signup {
  padding: 1rem 3rem;
  border-radius: 25px;
  background-image: linear-gradient(to right, #ff7a85, #ff525d);
  color: white;
}

@media only screen and (min-width: 928px) {
  /* line 195, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .btn-signup {
    background-image: unset;
    background-color: white;
  }
}

/* line 207, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-white {
  margin: .5rem;
  padding: 1rem 1rem;
  border-radius: 25px;
  text-decoration: none;
}

/* line 213, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-white.solid {
  color: #ff525d;
  background-color: white;
}

/* line 216, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-white.solid:hover {
  background-color: #ff7a85;
  color: white;
}

/* line 221, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-white.outline {
  border: 2px solid white;
  color: white;
}

/* line 224, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.btn-white.outline:hover {
  background-color: white;
  color: #ff525d;
}

/* line 231, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 237, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
}

/* line 245, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-background {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 928px) {
  /* line 245, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .editor-background {
    background-image: url("images/illustration-editor-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -200px top 0px;
  }
}

/* line 257, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-articles {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  line-height: 3.5ch;
}

/* line 264, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-articles article {
  margin-top: 2rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
}

/* line 272, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-features {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
}

@media only screen and (min-width: 928px) {
  /* line 272, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .editor-features {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}

@media only screen and (min-width: 928px) {
  /* line 282, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .editor-features .editor-articles {
    width: 55%;
    padding: 0 4rem;
    justify-content: flex-start;
  }
}

/* line 289, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-features .editor-image {
  margin: 1rem;
  z-index: -1;
}

/* line 292, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
.editor-features .editor-image.desktop {
  display: none;
  position: absolute;
  right: -300px;
  top: -200px;
  overflow: hidden;
}

@media only screen and (min-width: 928px) {
  /* line 300, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .editor-features .editor-image.mobile {
    display: none;
  }
  /* line 303, ../../../../../source/frontend-mentor/FrontEndMentorProjects/blogr/css/style.scss */
  .editor-features .editor-image.desktop {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */