$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

$primaryRed: hsl(7, 99%, 70%);
$primaryRedHighlight: hsl(7, 99%, 85%);
$primaryYellow: hsl(51, 100%, 49%);
$primaryYellowHighlight: hsl(51, 97%, 85%);
$darkDesatCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$lightDesatCyan: hsl(167, 44%, 70%);
$darkModCyan: hsl(168, 34%, 41%);
$veryDarkDesatBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.5);
$brightBlue: hsl(200, 100%, 62%);