$white: hsl(0, 0%, 100%);
$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
$darkGrayishBlue: hsl(206, 16, 43%);
$grayishBlue: hsl(240, 2%, 79%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);

$lightGray: hsl(240, 7, 94%);