@import "globals";
@import "colours";
@import "fonts";
* {
    box-sizing: border-box;
    padding: 0;
}

// TODO: Double check fonts in the design images.
body {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: $darkGrayishBlue;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Overpass", sans-serif;
    color: $veryDarkBlue;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: url("images/bg-pattern-intro.svg"), linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
    padding: 0rem 1rem 4rem 1rem;
    box-sizing: border-box;
    @media only screen and (min-width: $breakpoint-desktop) {
        height: 45vh;
    }
    @media only screen and (min-width: $breakpoint-tablet) {
        height: 45vh;
    }
}

.nav {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.nav-menus {
    text-align: center;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 7rem;
    padding: 2rem 0;
    background: $white;
    border-radius: 6px;
    box-shadow: 0px 15px 20px 4px rgba(36, 36, 36, 0.274);
    &.shown {
        display: flex;
    }
}

.menu-button {
    cursor: pointer;
    margin-right: 1rem;
    .cross {
        display: none;
    }
    &.shown {
        .burger {
            display: none;
        }
        .cross {
            display: block;
        }
    }
}

//TODO: Desktop styling
.nav-menu {
    padding: 1rem 0;
    font-size: 20px;
    width: 100%;
    .menu-header {
        display: relative;
        padding: 1rem;
        &:after {
            position: absolute;
            display: inline-block;
            margin-left: .5rem;
            font-size: 20px;
            font-family: "Font Awesome 5 Free";
            color: $lightRed;
            font-weight: 900;
            content: '\f107'; // chevron-down
        }
    }
    .nav-menu-dropdown {
        display: none;
        padding: 1rem;
        margin-top: 1rem;
        background-color: $lightGray;
        width: 100%;
        color: $darkGrayishBlue;
        border-radius: 8px;
        list-style: none;
        li {
            padding: .8rem;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .menu-header.shown {
        color: $darkGrayishBlue;
        &::after {
            content: "\f106";
        }
    }
    .menu-header.shown+.nav-menu-dropdown {
        display: block;
    }
}

.nav-account-actions {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    hr {
        width: 90%;
        color: $lightGray;
        margin-left: auto;
        margin-right: auto;
    }
    .account-action-buttons {
        margin-top: 1rem;
        list-style: none;
        li {
            padding: 1.5rem;
        }
    }
}

.header-content {
    color: $white;
    text-align: center;
    Display: flex;
    flex-direction: column;
    height: 60%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Overpass";
    font-weight: 300;
    font-size: 14pt;
    h1 {
        color: $white;
        font-size: 31pt;
    }
}

.horizontal-btn-container {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
}

%btn {
    color: inherit;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.btn-standard {
    @extend %btn;
}

.btn-signup {
    @extend %btn;
    padding: 1rem 3rem;
    border-radius: 25px;
    background-image: linear-gradient(to right, $veryLightRed, $lightRed);
    color: $white;
    @media only screen and (min-width: $breakpoint-desktop) {
        background-image: unset;
        background-color: $white;
    }
}

.btn-white {
    @extend %btn;
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    &.solid {
        color: $lightRed;
        background-color: $white;
        &:hover {
            background-color: $veryLightRed;
            color: $white;
        }
    }
    &.outline {
        border: 2px solid $white;
        color: $white;
        &:hover {
            background-color: white;
            color: $lightRed;
        }
    }
}

.content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.editor {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

// separate articles so the article format could be used elsewhere
.editor-articles {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    line-height: 3.5ch;
    article {
        margin-top: 2rem;
    }
}

.editor-features {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    @media only screen and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
    .editor-articles {
        @media only screen and (min-width: $breakpoint-desktop) {
            width: 55%;
            padding: 0 4rem;
            justify-content: flex-start;
        }
    }
}

.editor-image {
    margin: 1rem;
    z-index: -1;
    &.desktop {
        display: none;
        position: absolute;
        right: -300px;
        top: -200px;
        overflow: hidden;
    }
    @media only screen and (min-width: $breakpoint-desktop) {
        &.mobile {
            display: none;
        }
        &.desktop {
            display: block;
        }
    }
}