@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

body {
  background-color: #3dbeff;
  padding: 0;
  margin: 0;
  color: #458c7e;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.about-image.desktop {
  display: none;
}

.nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 2rem;
  box-sizing: border-box;
}

.content {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.header {
  background-image: url("images/mobile/image-header.jpg");
  background-position: bottom;
  background-size: cover;
  text-align: center;
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header p {
  text-transform: uppercase;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: .8rem;
}

#nav-logo {
  flex-grow: 1;
}

#nav-items {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 2rem 0;
  background-color: white;
  display: none;
}

#nav-items li {
  list-style-type: none;
  padding: 1.3rem;
}

#nav-items li a {
  text-decoration: none;
  color: #458c7e;
  font-weight: 900;
  text-align: center;
}

#nav-items .nav-contact {
  box-sizing: border-box;
  background: #fad400;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 16px;
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 25px;
}

#nav-items.shown {
  display: flex;
}

#nav-items:before {
  content: '';
  position: absolute;
  border-bottom: 80px solid white;
  border-left: 80px solid transparent;
  top: -20px;
  right: 0;
  width: 0;
}

.about-list {
  display: flex;
  flex-direction: column;
}

.about-list .about-item {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  background-color: white;
}

.about-list .about-item .about-text {
  text-align: center;
  line-height: 3ch;
  color: #458c7e;
  padding: 3rem 1rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

.about-list .about-item .about-text.first {
  order: 1;
}

.about-list .about-item .about-text h1 {
  font-family: "Fraunces", serif;
  font-size: 28pt;
  font-weight: 900;
  line-height: normal;
  color: #23303e;
}

.about-list .about-item .about-text p {
  margin-bottom: 2.5rem;
}

.about-image-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.about-image-wrapper .about-image {
  width: 100%;
  height: 100%;
}

.cta-link {
  margin-top: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  box-sizing: border-box;
  font-weight: 900;
  color: #23303e;
  position: relative;
  z-index: 1;
}

.cta-link:after {
  content: '';
  position: absolute;
  top: 14px;
  z-index: -1;
  width: 110%;
  height: 10px;
  border-radius: 15px;
  left: -5px;
}

.cta-link.yellow:after {
  background-color: #fef3b4;
}

.cta-link.yellow:hover:after {
  background-color: #fad400;
}

.cta-link.red:after {
  background-color: #ffbcb3;
}

.cta-link.red:hover:after {
  background-color: #fe7867;
}

.services-list {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.services-list .service {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 600px;
}

.services-list .service.graphic-design {
  color: #25564b;
  background-image: url("images/mobile/image-graphic-design.jpg");
}

.services-list .service.photography {
  color: #19536b;
  background-image: url("images/mobile/image-photography.jpg");
}

.testimonials {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 1rem;
}

.testimonials h3 {
  text-transform: uppercase;
  color: #a7abae;
  letter-spacing: .6rem;
}

.testimonials .testimonials-list {
  display: flex;
  flex-direction: column;
}

.testimonials .testimonials-list .testimonial {
  margin: 2rem 0;
}

.testimonials .testimonials-list .testimonial img {
  border-radius: 50%;
  width: 23%;
}

.testimonials .testimonials-list .testimonial p {
  padding: 1rem;
  font-size: 18px;
}

.testimonials .testimonials-list .testimonial .testimonial-person p {
  padding: 0;
  margin: .5rem;
  font-size: 16px;
  color: #a7abae;
}

.testimonials .testimonials-list .testimonial .testimonial-person strong {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  color: #23303e;
}

footer {
  display: flex;
  background: #91d4c6;
  flex-direction: column;
  align-items: center;
  color: #458c7e;
}

footer #footer-logo {
  margin-top: 3rem;
  height: 40px;
  fill: #458c7e;
}

footer .footer-gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 1440px;
}

footer .footer-gallery img {
  width: 50%;
}

footer .footer-nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

footer .footer-nav li {
  margin: 1rem 1rem;
}

footer .footer-nav li a {
  color: #458c7e;
  text-decoration: none;
}

footer .footer-nav li a:hover {
  color: white;
}

footer .socials {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

footer .socials svg {
  fill: #458c7e;
  margin: 4rem 1rem;
}

footer .socials svg:hover {
  fill: white;
}

@media only screen and (min-width: 992px) {
  .about-image {
    width: 100%;
    height: 100%;
  }
  .about-image .mobile {
    display: none;
  }
  .about-image .desktop {
    display: block;
  }
  #nav-items {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 9;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    margin: 0;
    padding: 0;
  }
  #nav-items li a {
    color: white;
  }
  #nav-items .nav-contact {
    background: white;
  }
  #nav-items .nav-contact:hover {
    background: rgba(255, 255, 255, 0.5);
    color: white;
  }
  #mobile-burger {
    display: none;
  }
  #nav-items:before {
    display: none;
    border: 0;
  }
  .header {
    background-image: url("images/desktop/image-header.jpg");
    background-position: center;
  }
  .header img {
    margin-top: 10rem;
  }
  .about-list .about-item {
    flex-direction: row;
  }
  .about-list .about-item .about-text {
    text-align: left;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 0 7.0rem 0 10rem;
    order: 1;
  }
  .about-list .about-item .about-text.first {
    order: 0;
  }
  .about-image-wrapper {
    width: 50%;
    box-sizing: border-box;
  }
  .services-list {
    flex-direction: row;
  }
  .services-list .service {
    background-position: center;
    padding: 1rem 8rem 3rem 10rem;
    height: 600px;
    width: 50%;
  }
  .services-list .service.graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }
  .services-list .service.photography {
    background-image: url("images/desktop/image-photography.jpg");
  }
  .testimonials {
    padding: 4rem;
  }
  .testimonials .testimonials-list {
    padding: 2rem 4rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
  }
  .testimonials .testimonials-list .testimonial {
    margin: 0;
  }
  footer .footer-gallery {
    flex-flow: row nowrap;
    width: 100%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #25564b;
}
